h1 {
    color: black;
    font-family: 'Helvetica Neue', 'Helvetica';
    font-weight: 100;
    text-align: center;
    padding-top: 12%;
    font-size: 220px;
}

div {
    width: 100%;
    height: 100%;
}

div.loading {
    text-align: center;
    padding-top: 20%;
}

.ion.ion-loading-c {
    font-size: 48px;
}

body {
    margin: 0px;
}

h1.night {
    color: white;
}

div.night {
    background-color: black;
}
